* {

    margin: 0;
    padding: 0;

}

body {

    /* fonte do site */ 
    font-family: Arial, Helvetica, sans-serif   ;
    background-color: rgb(7, 46, 46);
}

/* cabeçario */

.conteiner {

    display: flex;
    justify-content: space-between;
    background-color: rgb(19, 19, 19);  
    width: 100%;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 0 25px rgb(0, 90, 90);
    padding: 0 150px;
    position: fixed;
    top: 0;
    box-sizing: border-box;
    /* autura do menu */

    z-index: 99999;

}

.conteiner .conteiner-logo img {

    display: flex;
    width: 60px;
    margin: 20px;
    transition: 500ms;
}

.conteiner .conteiner-logo img:hover {

    transform: scale(1.2)
}

.conteiner .conteiner-nav {
    
    display: flex;

}


.conteiner .conteiner-nav ul li  {

    /*fonte do header */
    font-size: 16px;

    float: right;
    margin-right: 50px;
    margin-top: 44px;
    list-style: none;

    /* tempo da animação */
    transition: 500ms;

}

.conteiner .conteiner-nav ul li a {

    text-decoration: none;
    color: blueviolet ;

    /* tempo da animações */
    border-radius: 5px;
    transition: 300ms;

}

.conteiner .conteiner-nav ul li a:hover {

    background-color: rgb(185, 185, 20);
    color: rgb(15, 15, 15);
    padding: 5px;
    border-radius: 10px;
    transform: scale(22px);

}


/* fim do cabeçario */

/* center banner animado */

.banner {

    display: flex;
    justify-content: center;

}

.banner img {
    width: 800px;
    border-radius: 10px;
    margin: 40px 0;
}







.menu {

    display: none;
    
}

.MT {

    display: block !important;

}



/* constumização do site */

main {

    /* fomrato do centro */
    background-color:  rgb(19, 19, 19);
    width: 1000px;
    border-radius: 15px;

    /* margin do site */ 
    margin: auto;
    margin-top: 150px;
    margin-bottom: 40px;
    padding: 10px;

    box-shadow: 0 0 20px;

}

.construct-flex {

    display: flex;

}

.construct img {

    width: 250px;
     /* margins */
     padding: 20px;

     /* tempo da animação */
     transition: 500ms;
}

.construct img:hover {

    transform: scale(1.04);
    
}




.texto1 p {

    /*tamanho text */   
    font-size: 18px;

    /* formtação do texto */
    color: aqua;
    margin-top: 80px;
    padding: 0 20px;
    
    /* fundo do texto */
    background-color: rgba(127, 255, 249, 0.068);
    padding: 15px;
    border-radius: 10px;
    box-sizing: border-box;

}

/* imagens do autor */
.img-autor img {

    width: 250px;
    padding: 20px;

    /* borda da imagens */
    border-radius: 50px;

    /* tempo da animação */
    transition: 500ms;
}

.img-autor img:hover {

    transform: scale(1.04);
    
}

.autor-flex {
    display: flex;
}

.text-autor p {

    font-size: 18px;
    
    color: rgb(0, 255, 255);

    /* margin do text autor */
    margin-top: 150px;

    background-color: rgba(127, 255, 249, 0.068);
    padding: 15px;
    border-radius: 10px;
    box-sizing: border-box;

}


/* footer */

footer {

    background-color: rgb(19, 19, 19);
    width: 100%;
    padding: 20px;
    box-shadow: 0 0 10px rgb(49, 49, 49);

    box-sizing: border-box;
}

/* nome redes sociais */

.noticias h4 {
    display: flex;
    justify-content:center;
    margin-bottom: 30px;

    /* ajustes */
    font-size: 20px;
    color: blueviolet;

}

/* links */

.contatos {

    display: flex;
    justify-content: center;

    bottom: 0;
    margin: 0;

}

.contatos a {

    /* ajuste para o responcivo */
    display: flex;
     
    /* espaçamento entre os links */
    margin: 15px;
    
    /* estulo dos links */
    text-decoration: none;
    font-size: 18px;
    color: white;
    border-radius: 5px;


    /* tempo da animação */
    transition: 500ms;


}

.contatos a:hover {
    color:  black;
    background-color: yellow ;
    padding: 5px;
    border-radius: 10px;
    transform: scale(1.05);

}

/* barra de rolagem*/   
::-webkit-scrollbar {
    background-color: rgb(54, 57, 58);
   }
   ::-webkit-scrollbar-thumb {
       background-color: rgb(116, 0, 170);
   }



@media screen and (max-width:1200px) {
    .conteiner {
        padding: 0 100px;
    }
    .conteiner .conteiner-nav ul li {
        font-size: 16px;
    }
    main {
        width: 800px;
    }
    .banner img {
        width: 680px;
    }
    .texto1 p {
       margin-top: 40px;
    }

    .text-autor p {
        margin-top: 130px;
    }


}

@media screen and (max-width:900px) {
    main {
        width: 600px;
    }
    .banner img {
        width: 525px;
    }
    .texto1 p {
        font-size: 16px;
       margin-top: 20px;
    }

    .text-autor p {
        font-size: 16px;
        margin-top: 130px;
    }


}

@media screen and (max-width: 670px){
        .conteiner {
            padding: 0 50px;
        }
    
    
    main {
        width: 100%;
        box-sizing: border-box;
    }
    
    .banner img {
       
        width: 560px;
        

    }
    .construct-flex {
        display: block;
    }
    .construct {
        display: flex;
        justify-content: center;
    }
    .construct img {
        width:300px ;
    }
    .texto1 p {
        margin: auto    ;
        margin: 30px 30px;
        text-align: justify;
    }

    .autor-flex {
        display: block;
    }
    .img-autor {
        display: flex;
        justify-content: center;
    }
    .img-autor img {
        width: 302px;
    }
    .text-autor p {
        margin: auto    ;
        margin: 30px 30px;
        text-align: justify;
    }   
}
@media  screen and (max-width:600px) {
    .conteiner {
        padding: 0 10px;
    }
    .conteiner .conteiner-nav ul li {
        font-size: 15px;
    }
    .banner img {
        width: 90%;
    }
    
}










/* reponsivo para dispositovos moveis */ 

@media screen and (max-width:440px) {

    .conteiner {
        display: flex;
        
        padding: 0 30px;

    }

    .conteiner .conteiner-logo img {

        width: 50px;

    }

        /* menu */

    .menu {
        
        display: block;
            
        padding: 30px 30px;
        /* tamanho do menu */
        font-size: 25px;

    }


    .conteiner .conteiner-nav {
        
        display: none;

    }

    .conteiner .conteiner-nav ul {
       
        float: none;
        
        
     
    }

    .conteiner .conteiner-nav ul li {  

        font-size: 16px;

         padding-bottom: 10px;

    }
    .conteiner .conteiner-nav ul li a strong {
        
        padding: 10px;
    } 
     


    main {
       width: 100%;
       margin-top: 105px;
       box-sizing: border-box;

    }

    .banner img {
       
        width: 380px;
        

    }
    .construct-flex {
        display: block;
    }
    .construct {
        display: flex;
        justify-content: center;
    }
    .texto1 p {
        margin: 30px 0;
    }

    .autor-flex {
        display: block;
    }
    .img-autor {
        display: flex;
        justify-content: center;
    }
    .text-autor p {
        margin-top: 30px;
    }   
}
/* dooter mobile */

.noticias h4 {
    margin-top: 10px;
    margin-bottom: 30px;

    /* ajustes */
    font-size: 20px;
    color: blueviolet;

}

@media screen and (max-width:415px) {
    .conteiner {
        padding: 0 15px;
    }


    .menu {
        padding: 30px 30px;
        margin-left: 50px;


    }
    .conteiner .conteiner-nav {
        margin: 0 ;
        padding: 0;
    }
    .conteiner .conteiner-nav ul li {
        margin-right: 20px;
        margin-top: 40px;
    }

    .banner img {
        width: 350px;
    }
}   



@media screen and (max-width:390px) {
    
    .banner img {
        width: 320px;
    }
    .texto1 p {
        font-size: 17px;
       margin: 0 10px;
    }
    .text-autor p {
        font-size: 17px;
        margin: 0 10px;
    }
}
@media screen and (max-width:320px) {

    .conteiner .conteiner-nav ul li {
        margin-right: 30px;
    }
    .menu {
        margin-left: 30px;
    }
    .banner img {
        width: 290px;
    }
    footer {
        padding: 30px;
    }
    .noticias h4 {
        margin-bottom: 20px;
    }
    
}
 