* {

    margin:0;
    padding: 0;

}

    
body {

    background-color: rgb(24, 24, 24);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    
}

/* Sua visação do scroll animado */

html {
    scroll-behavior: smooth;
}


/* cabeçario */

.conteiner {

    display: flex;
    justify-content: space-between;
    background-color: rgb(19, 19, 19);  
    width: 100%;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 0 20px rgb(49, 49, 49);
    padding: 0 150px;
    position: fixed;
    top: 0;
    box-sizing: border-box;

}

.conteiner .conteiner-logo img {

    display: flex;
    width: 80px;
    margin: 20px;
    transition: 500ms;
}

.conteiner .conteiner-logo img:hover {

    transform: scale(1.2)
}

.conteiner .conteiner-nav {
    
    display: flex;

}


.conteiner .conteiner-nav ul li  {

    /*fonte do header */
    font-size: 18px;

    float: right;
    margin-right: 50px;
    margin-top: 50px;
    list-style: none;

    /* tempo da animação */
    transition: 1s;

}

.conteiner .conteiner-nav ul li a {

    text-decoration: none;
    color: blueviolet ;

    /* tempo da animações */
    border-radius: 5px;
    transition: 300ms;

}

.conteiner .conteiner-nav ul li a:hover {

    background-color: rgb(185, 185, 20);
    color: rgb(15, 15, 15);
    padding: 5px;
    border-radius: 10px;
    transform: scale(22px);

}

/* fim do cabeçario */

main {

    background-color:rgb(17, 17, 17);
    width: 1000px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgb(14, 14, 14);
    padding-bottom: 20px;

    margin: auto;
    margin-top: 150px;
    margin-bottom: 40px;

}

/* center banner animado */

.banner-animado {

    display: flex;
    justify-content: center;

}

.banner-animado video {
    width: 800px;
    border-radius: 10px;
    margin: 40px 0;
}

h1 {
    text-align: center;
    color: blueviolet;

    /* fundo do texto */    
    background-color: rgb(22, 22, 22);
    width: 300px;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    /* espaço de baixo */
    margin-bottom: 40px;
}

.texto-1 {
    text-align: center;
    margin: 0 50px;
    margin-bottom: 80px;
}

.texto-1 strong {
    color: rgb(207, 207, 23);
}

.h2-global {
    background-color: rgb(22, 22, 22);
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    color:blueviolet;

    /* alinhamento do texto */

    text-align: center;
    margin: auto;

    /*  margem de baixo */
    margin-bottom: 80px;
}

.descricao {
 /* CORPO DA DESCRIÇÃO */
    background-color: rgb(24, 24, 24);
    width: 800px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(24, 24, 24);

    /* margem do block */
    margin-bottom: 80px;
    /* FIM DA DESCRIÇÃO */
}

.descricao ul {

    /* ALINHAMENTO */
    display: flex;
    justify-content: space-between;

    /* ESTILO DA DECOREÇÃO */
    color: yellow;
    list-style: none;
    font-size: 16px;

}

/* imagens dos personagens */

.img-personagem {

    display: flex;
    justify-content: center;

  
}


.img-personagem img {

    /* tipo do display */
    display: flex;

    width: 250px;
    margin: 20px;

    /* estilo */
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(1, 190, 223, 0.253);

    /* ajuste de espaçamento */
    box-sizing: border-box;

     /* espaçamento do block personagem*/
     margin-bottom: 80px;

     /* tempo da animação */ 
     transition: 800ms;
}

/* animação de block personagem */
.img-personagem img:hover {

    transform: scale(1.05);

    /* sombras */
    box-shadow: 0 0 20px rgba(255, 255, 0, 0.425);
    
}

/* MAPA DO SITE */
.mapa {

    display: flex;
    justify-content: center

}

.mapa img {

    /* espaçamento */
    margin-bottom: 80px;

    /* bordas do mapa */
    border-radius: 10px;

    /* sombras */
    box-shadow: 0 0 10px rgb(58, 21, 3);
}

/* botão jogue agora */

.botao {

    /* ALINHAMENTO DO BOTÃO */
    text-align: center;

    /* margem de baixo */
    margin-bottom: 40px;

}

.botao a {
    
    /* none */
    text-decoration: none;
    
    /* formatação */
    font-size: 18px;
    color:white;

    /* fundo do botão */
    background-color: rgb(1, 107, 179);

    /* formatação do botao */
    padding: 15px;
    border-radius: 100px;

    /* TEMPO DA ANIMAÇÃO */
    transition: 400ms;

}

.botao a:hover {
    
    box-shadow: 0 0 20px rgb(1, 187, 243);
   
}
    
/* footer */

footer {

    background-color: rgb(19, 19, 19);
    width: 100%;
    padding: 50px;
    box-shadow: 0 0 10px rgb(49, 49, 49);

    box-sizing: border-box;
}

/* nome redes sociais */

.noticias h4 {
    display: flex;
    justify-content:center;
    margin-bottom: 30px;

    /* ajustes */
    font-size: 20px;
    color: blueviolet;

}

/* links */

.contatos {

    display: flex;
    justify-content: center;

}

.contatos a {

    /* ajuste para o responcivo */
    display: flex;
     
    /* espaçamento entre os links */
    margin: 15px;
    
    /* estulo dos links */
    text-decoration: none;
    font-size: 18px;
    color: white;
    border-radius: 5px;


    /* tempo da animação */
    transition: 500ms;


}

.contatos a:hover {
    color:  black;
    background-color: yellow ;
    padding: 5px;
    border-radius: 10px;
    transform: scale(1.05);

}   

/* menu */

.menu {

    display: none;
    
}

.MT {

    display: block !important;

}


@media  screen and (max-width: 1200px) {

.conteiner {

    padding: 0 100px;

}
    

.conteiner .conteiner-nav ul li {

    font-size: 18px;
    margin-right: 40px;


}
    
}






/* reponsivo para dispositovos moveis */ 

@media screen and (max-width:430px) {

    .conteiner {
        display: flex;
        
        padding: 0 30px;

    }

    .conteiner .conteiner-logo img {

        width: 50px;

    }

        /* menu */

    .menu {
        
        display:block;
        
        padding: 40px 50px;
         
        /* tamanho do menu */
        font-size: 25px;

    }


    .conteiner .conteiner-nav {
        
        display: none;

    }

    .conteiner .conteiner-nav ul {
       
        float: none;
        margin: 40px 10px;
     
    }

    .conteiner .conteiner-nav ul li {  

        font-size: 16px;

         padding-bottom: 10px;
    }

    main {

        width: 100%;
        margin-top: 120px;

    }

    .banner-animado video {

        width: 380px;

    }

    .texto-1 {

        font-size: 12px;

    }

    .descricao {

        width: 350px;

    }

    .descricao ul li {
        font-size: 11px;
    }

    .img-personagem img {

        width: 115px;
        margin: 10px;
        margin-bottom: 80px;

    }
    
    .mapa img {

        width: 400px;

    }

}